<p style="color: green"><%= notice %></p>

<%= render @season %>

<div>
  <%= turbo_frame_tag 'new_round' do %>
    <%= render partial: 'seasons/new_round_button', locals: { season: @season }  %>
  <% end %>

  <h2>
    Rounds
  </h2>
  <%= turbo_frame_tag "season_#{@season.id}_rounds" do %>
    <%= render partial: 'rounds/rounds', locals: { rounds: @season.ordered_rounds } %>
  <% end %>
</div>
